<template>
  <!-- Contact Start -->
  <div v-if="isVerified" class="container-xxl py-6">
    <div class="container">
      <div class="section-header text-center mx-auto mb-5 animate__animated animate__fadeInUp"
           style="max-width: 500px;">
        <h1 class="display-5 mb-3">修改密碼</h1>
        <p>請重新設定您的密碼。</p>
      </div>
      <div class="row g-5 justify-content-center">
        <div class="col-lg-7 col-md-12 animate__animated animate__fadeInUp" data-wow-delay="0.5s">
          <form ref="form" @submit.prevent="submitForm">
            <div class="row g-3">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="password" class="form-control" name="Password" v-model="Password"
                         placeholder="請輸入新密碼" required>
                  <label for="password">請輸入新密碼</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="password" class="form-control" name="rePassword" v-model="rePassword"
                         placeholder="請重新輸入新密碼" required>
                  <label for="repassword">請重新輸入新密碼</label>
                </div>
              </div>
              <LoadingButton :buttonText="'修改密碼'" :isSubmitting="isSubmitting"/>
            </div>
            <input type="hidden" name="HashCode"  v-model="hashcode">
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->
</template>

<script>
import {verifyPasswordResetCode, updatePasswordWithCode} from "@/api/userAccountAPI.js"

export default {
  name: "ConfirmedResetPassword",
  data() {
    return {
      hashcode: this.$route.query.hashcode
      , Password: ''
      , rePassword: ''
      , isVerified: false
      , isSubmitting: false
    }
  },
  methods: {
    submitForm() {
      if(this.Password!==this.rePassword) {
        alert('密碼不一致！')
      } else {
        this.isSubmitting = true
        updatePasswordWithCode(new FormData(this.$refs.form))
            .then(() => {
              alert('密碼已重設。')
              this.$router.push({name: 'loginPage'})
            })
            .finally(()=>{
              this.isSubmitting = false
            })

      }
    }
  },
  beforeMount() {
    const formData = new FormData()
    formData.set("HashCode", this.hashcode)
    verifyPasswordResetCode(formData)
        .then(response => {
          if (!(response.status === 200 || response.status === 201)) {
            throw new Error('');
          }
          this.isVerified = true
        })
        .catch(() => {
          alert('驗證碼錯誤，為您轉跳首頁。')
          this.$router.push({name: 'dashboard'})
        })
  },
}
</script>

<style scoped>

</style>
