<template>
    <div class="mb-3">
        <img v-show="hasImage" :src="params.imgURL" ref="userPic" class="avatar" alt="Avatar"/>
        <div v-show="!hasImage">
            <i class="fa fa-user fa-5x"></i>
        </div>
        <input type="file"
               @change="onFileChange"
               accept="image/*"
               name="uploadImg"
               class="form-control"
               style="margin-top: 1rem;"/>
    </div>
</template>

<script>
export default {
    name: "ImgUpload",
    props: ['params'],
    data() {
        return {
            selectedFile: null
        }
    },
    computed: {
        hasImage() {
            return this.selectedFile !== null || this.params.imgURL !== ''
        }
    },
    methods: {
        onFileChange(event) {
            this.selectedFile = event.target.files[0]
            if (this.selectedFile) {
                this.$refs.userPic.src = URL.createObjectURL(this.selectedFile)
            }
        },
    },
}
</script>

<style scoped>
img {
    vertical-align: middle;
    width: 192px;
    height: 192px;
    border-radius: 50%;
}
</style>