<template>
  <!-- Contact Start -->
    <form id="UserInfoForm" @submit.prevent="submitForm">
        <div class="container-xxl py-6">
            <div class="container">
                <div class="section-header text-center mx-auto mb-5 animate__animated animate__fadeInUp"
                     style="max-width: 500px;">
                    <h1 class="display-5 mb-3">個人資料</h1>
                    <ImgUpload :params="{imgURL:userPictureURL}"/>
                </div>
                <div class="row g-5 justify-content-center">
                    <div class="col-lg-7 col-md-12 animate__animated animate__fadeInUp" data-wow-delay="0.5s">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" :value="email" placeholder="您的信箱"
                                           disabled>
                                    <label for="email">您的信箱</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" name="name"
                                           :value="name" placeholder="公開名稱" required>
                                    <label for="name">公開名稱</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="nickname" name="nickname"
                                           :value="nickname" placeholder="公開名稱" required>
                                    <label for="nickname">公開暱稱</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password" name="password"
                                           value="" placeholder="修改密碼">
                                    <label for="password">修改密碼</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="repassword" name="repassword"
                                           value="" placeholder="重複修改密碼">
                                    <label for="repassword">重複修改密碼</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-secondary rounded-pill py-3 px-5 mr-2">
                                    更新個人資料
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
  <!-- Contact End -->
</template>

<script>
import {getUserEditableInfo, updateUserEditableInfo} from "@/api/userAccountAPI.js"
import ImgUpload from "@/views/MemberPage/ImgUpload.vue";

export default {
    name: "MemSetting",
    components: {ImgUpload},
    methods: {
        submitForm() {
            let formData = new FormData(document.querySelector("#UserInfoForm"))
            if (formData.get("repassword") !== formData.get("password")) {
                alert("密碼不一致！")
            } else {
                updateUserEditableInfo(formData).then(() => {
                    getUserEditableInfo().then(response => {
                        const userInfo = response.data
                        this.email = userInfo.email
                        this.name = userInfo.name
                        this.nickname = userInfo.nickname
                        this.userPictureURL = userInfo.userPictureURL
                        this.$store.dispatch('updateUserInfo', userInfo)
                    })
                    alert("個人資料修改成功")
                })
            }
        },
    },
    data() {
        return {
            email: ""
            , name: ""
            , nickname: ""
            , userPictureURL: ""
        }
    },
    mounted() {
        getUserEditableInfo().then(response => {
            const userInfo = response.data
            this.email = userInfo.email
            this.name = userInfo.name
            this.nickname = userInfo.nickname
            this.userPictureURL = userInfo.userPictureURL
        })
    }
}
</script>

<style scoped>

</style>
