<template>
  <!-- Contact Start -->
  <div class="container-xxl py-6">
    <div class="container">
      <div class="section-header text-center mx-auto mb-5 animate__animated animate__fadeInUp"
           style="max-width: 500px;">
        <h1 class="display-5 mb-3">註冊會員</h1>
        <p>快來成為我們的一員吧！</p>
      </div>
      <div class="row g-5 justify-content-center">
        <div class="col-lg-7 col-md-12 animate__animated animate__fadeInUp" data-wow-delay="0.5s">
          <form @submit.prevent="submitForm">
            <div class="row g-3">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="email" class="form-control" name="email" v-model="formData.email"
                         placeholder="您的信箱" required>
                  <label for="email">您的信箱</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <input type="password" class="form-control" name="password" v-model="formData.password"
                         placeholder="您的密碼" required>
                  <label for="password">您的密碼</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <input type="password" class="form-control" name="repassword" v-model="formData.repassword"
                         placeholder="重新輸入密碼" required>
                  <label for="repassword">重新輸入密碼</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <input type="text" class="form-control" name="name" v-model="formData.name"
                         placeholder="公開名稱" required>
                  <label for="name">公開名稱</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <input type="text" class="form-control" name="nickname" v-model="formData.nickname"
                         placeholder="公開名稱" required>
                  <label for="nickname">公開暱稱</label>
                </div>
              </div>
              <div class="col-12 mt-3">
                <p class="col-12 text-center">
                  <router-link to="/login">返回登入頁面</router-link>
                </p>
              </div>
              <LoadingButton :buttonText="'註冊'" :isSubmitting="isSubmitting"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->
</template>

<script>
import {signUp} from "@/api/userAccountAPI.js"

export default {
  name: "RegisterView",
  data() {
    return {
      isSubmitting: false,
      formData: {
        email: '',
        password: '',
        repassword: '',
        name: '',
        nickname: '',
      }
    }
  },
  methods: {
    submitForm() {
      if (this.formData.password !== this.formData.repassword) {
        alert("密碼不一致！")
      } else {
        this.isSubmitting = true
        signUp(this.formData)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                alert("帳號申請成功")
                this.$router.push({name: 'loginPage'})
              }
            })
            .finally(() => {
              this.isSubmitting = false
            })
      }
    },
  },
}
</script>

<style scoped>

</style>
