<template>
  <!-- Contact Start -->
  <div class="container-xxl py-6">
    <div class="container">
      <div class="section-header text-center mx-auto mb-5 animate__animated animate__fadeInUp"
           style="max-width: 500px;">
        <h1 class="display-5 mb-3">忘記密碼</h1>
        <p>請輸入電子信箱，透過收取認證信的方式重設密碼。</p>
      </div>
      <div class="row g-5 justify-content-center">
        <div class="col-lg-7 col-md-12 animate__animated animate__fadeInUp" data-wow-delay="0.5s">
          <form ref="form" @submit.prevent="submitForm">
            <div class="row g-3">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="email" class="form-control" name="email"
                         placeholder="您的電子信箱" required>
                  <label for="email">您的電子信箱</label>
                </div>
              </div>
              <LoadingButton :buttonText="'送出驗證信'" :isSubmitting="isSubmitting"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->
</template>

<script>
import {sendPasswordResetEmail} from "@/api/userAccountAPI.js"


export default {
  name: "ResetPasswordView",
  data() {
    return {
      isSubmitting: false
    }
  },
  methods: {
    submitForm() {
      this.isSubmitting = true
      sendPasswordResetEmail(new FormData(this.$refs.form))
          .then((response) => {
            if (response.status === 200 || response.status === 201) {
              alert('請至電子信箱收信')
              this.$router.push({name: 'dashboard'})
            }
          })
          .finally(()=>{
            this.isSubmitting = false
          })

    },
  },
}
</script>

<style scoped>

</style>
