<template>
  <div v-show="this.$route.meta.showHeader === undefined"
       class="container-fluid page-header animate__animated animate__fadeIn " data-wow-delay="0.1s">
    <div class="container">
      <h1 class="display-3 mb-3 animate__animated animate__slideInDown">{{ headerTitle }}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <router-link to="/" class="text-body">首頁</router-link>
          </li>
          <!--<li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>-->
          <li class="breadcrumb-item text-dark active" aria-current="page">{{ headerTitle }}</li>

        </ol>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderView",
  computed: {
    headerTitle() {
      return this.$route.meta.title
    }
  }
}
</script>

<style scoped>

</style>