<template>
    <CarouselView/>
<!--    <AboutView/>-->
<!--    <FeatureView/>-->
<!--    <ProductView/>-->
    <FirmView/>
    <TestimonialView/>
<!--    <BlogView/>-->
</template>

<script>
import { defineAsyncComponent } from 'vue'
const CarouselView = defineAsyncComponent(() => import('@/views/InfoPage/CarouselView'))
// const AboutView = defineAsyncComponent(() => import('@/views/InfoPage/AboutView'))
// const BlogView = defineAsyncComponent(() => import('@/views/InfoPage/BlogView'))
const TestimonialView = defineAsyncComponent(() => import('@/views/InfoPage/TestimonialView'))
const FirmView = defineAsyncComponent(() => import('@/views/InfoPage/FirmView'))
// const ProductView = defineAsyncComponent(() => import('@/views/InfoPage/ProductView'))
// const FeatureView = defineAsyncComponent(() => import('@/views/InfoPage/FeatureView'))

export default {
    name: 'HomeView',
    components: {
        // FeatureView,
        // ProductView,
        FirmView,
        TestimonialView,
        // BlogView,
        // AboutView,
        CarouselView
    },

}


</script>
