<template>
  <!-- Contact Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 animate__animated animate__fadeInUp"
                 style="max-width: 500px;">
                <h1 class="display-5 mb-3">登入</h1>
                <p>登入後即可享受便當屋的服務，誠摯。</p>
            </div>
            <div class="row g-5 justify-content-center">
                <div class="col-lg-7 col-md-12 animate__animated animate__fadeInUp" data-wow-delay="0.5s">
                    <form ref="formData" @submit.prevent="submitForm">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" name="email"
                                           placeholder="您的電子信箱" v-model="email" required>
                                    <label for="email">您的電子信箱</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="password" class="form-control" name="password"
                                           placeholder="您的密碼" v-model="password" required>
                                    <label for="password">您的密碼</label>
                                </div>
                            </div>
                            <div class="col-12 row mt-3">
                                <p class="col-6 text-center">
                                    <router-link :to="{name:'forgetPwd'}">忘記密碼</router-link>
                                </p>
                                <p class="col-6 text-center">
                                    <router-link to="/register">註冊會員</router-link>
                                </p>
                            </div>
                            <LoadingButton :buttonText="'登入'" :isSubmitting="isSubmitting"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  <!-- Contact End -->

    <div class="modal fade" id="forgetPass" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">忘記密碼</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>目前不提供重設密碼的服務</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">我知道了</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {signIn, jwtSignIn} from "@/api/userAccountAPI.js"
import {globalVars} from "@/properties";

export default {
    name: "LoginView",
    data() {
        return {
            email: ""
            , password: ""
            , isSubmitting: false
            , redirectUrl: this.$route.query.redirectUrl
        }
    },
    methods: {
        submitForm() {
            this.$store.dispatch('logout')
            const formData = new FormData(this.$refs.formData)
            let signInInstance
            if (globalVars.loginMode === 'jwt') {
                signInInstance = jwtSignIn
            } else {
                signInInstance = signIn
            }
            signInInstance(formData).then((response) => {
                if (response && (response.status === 200 || response.status === 201)) {
                    this.$store.dispatch('login', response.data)
                    if (this.redirectUrl) {
                        if (this.redirectUrl.split('?').length === 2) {
                            const path = this.redirectUrl.split('?')[0];
                            const queryParams = {};
                            const queryStr = this.redirectUrl.split('?')[1];
                            const queryArr = queryStr.split('&');
                            queryArr.forEach((param) => {
                                const [key, value] = param.split('=');
                                queryParams[key] = value;
                            });
                            this.$router.push({path: path, query: queryParams,});
                        } else {
                            this.$router.push({path: this.redirectUrl})
                        }
                    } else {
                        this.$router.push({name: 'dashboard'})
                    }
                }
            })
                .finally(() => {
                    this.isSubmitting = false
                })
        },
    },
}
</script>

<style scoped>

</style>
