<template>登出中...</template>
<script>

import {jwtSignOut, signOut} from "@/api/userAccountAPI";
import {globalVars} from "@/properties";

export default {
    name: "LogoutView",
    mounted() {
        let axiosInstance = signOut;
        if(globalVars.loginMode==='jwt') {
            axiosInstance = jwtSignOut
        }
        axiosInstance().finally(() => {
            this.$store.dispatch('logout')
            this.$router.push({name: 'dashboard'})
        })
    }
}

</script>

<style scoped>

</style>
