<template>
  <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 animate__animated animate__fadeIn">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <!--                <small><i class="fa fa-map-marker-alt me-2"></i>雲端</small>-->
                <small class="ms-4"><i class="fa fa-envelope me-2"></i>Service@CloudBandott.com</small>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small>追隨我們:</small>
                <a class="text-body ms-3" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-twitter"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 animate__animated animate__fadeIn">
            <router-link v-on:click="hideCollapse" to="/" class="navbar-brand ms-4 ms-lg-0">
                <h1 class="fw-bold text-primary m-0"><span class="text-secondary">便當</span>屋</h1>
            </router-link>
            <button type="button" class="navbar-toggler me-4"
                    data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <div v-show="!serverStatus" class="nav-item fs-3 text-bg-danger bg-opacity-50 nav-link">
                        後台伺服器尚未啟動
                    </div>
                    <router-link v-on:click="hideCollapse" to="/"
                                 class="nav-item fs-3 text-bg-dark bg-opacity-50 nav-link">首頁
                    </router-link>
                    <router-link v-on:click="hideCollapse" :to="{name:'storeList', query: { pageNum: 1 }}"
                                 class="nav-item fs-3 text-bg-dark bg-opacity-50 nav-link">開桌
                    </router-link>
                    <router-link v-on:click="hideCollapse" :to="{name: 'tables', query: { pageNum: 1 }}"
                                 class="nav-item fs-3 text-bg-dark bg-opacity-50 nav-link">找桌
                    </router-link>
                    <router-link v-if="!isSignIn" v-on:click="hideCollapse" to="/login"
                                 class="nav-item fs-3 text-bg-dark bg-opacity-50 nav-link">登入
                    </router-link>
                    <a v-if="isEditor"
                       v-on:click="$store.dispatch('setMode', !isMode);hideCollapse()"
                       href="#" class="nav-item fs-3 text-bg-dark bg-opacity-50 nav-link">
                        {{ isMode ? '關閉' : '啟用' }}編輯模式
                    </a>
                    <div v-if="isSignIn" class="nav-item dropdown">
                        <a href="#" class="fs-3 text-bg-dark bg-opacity-50 nav-link dropdown-toggle"
                           data-bs-toggle="dropdown">會員中心</a>
                        <div class="dropdown-menu m-0">
                            <template v-for="(route) in userRoute" v-bind:key="route">
                                <router-link v-on:click="hideCollapse"
                                             :to="{name: route.pathName, query:{'pageNum':route.pageNumValue}}"
                                             class="dropdown-item">
                                    {{ route.pathText }}
                                </router-link>
                            </template>
                        </div>
                    </div>
                    <router-link to="/about" class="nav-item fs-3 text-bg-dark bg-opacity-50 nav-link">
                        關於我們
                    </router-link>
                </div>
                <!--                <div class="d-none d-lg-flex ms-2">-->
                <!--                    <a class="btn-sm-square bg-white rounded-circle ms-3" href="">-->
                <!--                        <small class="fa fa-search text-body"></small>-->
                <!--                    </a>-->
                <router-link v-if="isSignIn"
                             v-on:click="hideCollapse" :to="{name: 'UserSettings'}"
                             class="btn-sm-square bg-white rounded-circle ms-3">
                    <img v-if="getUserPicUrl" :src="getUserPicUrl"
                         class="btn-lg-square bg-white rounded-circle ms-3"
                         alt="Avatar"/>
                    <div v-else>
                        <i class="fa fa-user text-body"></i>
                    </div>
                </router-link>
                <!--                    <a class="btn-sm-square bg-white rounded-circle ms-3" href="">-->
                <!--                        <small class="fa fa-shopping-bag text-body"></small>-->
                <!--                    </a>-->
                <!--                </div>-->
            </div>
        </nav>
    </div>

  <!-- Navbar End -->
</template>

<script>
import {mapGetters, mapState} from "vuex";
import * as bootstrap from 'bootstrap';

export default {
    name: "NavBar",
    data() {
        return {
            userRoute: [
                {pathName: 'UserSettings', pathText: '設定'},
                {pathName: 'published', pathText: '我的訂單', pageNumValue: '1'},
                {pathName: 'joined', pathText: '參加訂單', pageNumValue: '1'},
                {pathName: 'logoutPage', pathText: '登出'},
            ]
        }
    },
    methods: {
        hideCollapse: function () {
            new bootstrap.Collapse(document.getElementById('navbarCollapse')).hide();
        }
    },
    computed: {
        ...mapState(['serverStatus',]),
        ...mapGetters(['isSignIn', 'isEditor', 'isMode', 'getUserPicUrl']),
    },
    mounted() {
        // Fixed Navbar
        let fixedtop = document.getElementsByClassName('fixed-top')[0];
        window.addEventListener('scroll', function () {
            if (window.screen.width < 992) {
                if (document.documentElement.scrollTop > 45) {
                    fixedtop.classList.add('bg-white')
                    fixedtop.classList.add('shadow')
                } else {
                    fixedtop.classList.remove('bg-white')
                    fixedtop.classList.remove('shadow')
                }
            } else {
                if (document.documentElement.scrollTop > 45) {
                    fixedtop.classList.add('bg-white')
                    fixedtop.classList.add('shadow')
                    fixedtop.style.top = "-45px";
                } else {
                    fixedtop.classList.remove('bg-white')
                    fixedtop.classList.remove('shadow')
                    fixedtop.style.top = "0px";
                }
            }
        });
    }
}
</script>

<style scoped>
.bg-opacity-50:hover {
    --bs-bg-opacity: 0.8;
}
</style>
