<template>
  <div class="col-12 text-center">
    <button type="submit" v-show="!isSubmitting" :disabled="isSubmitting"
            class="btn btn-secondary rounded-pill py-3 px-5">
      {{ buttonText }}
    </button>
    <div class="loader-container">
      <BounceLoader v-show="isSubmitting"/>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoadingButton",
  props: {
    buttonText: {
      type: String,
      default: '送出'
    },
    isSubmitting: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* 可以是其他高度值 */
}
</style>