<template>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item" v-show="hasPrevious">
        <a class="page-link" :aria-disabled="hasPrevious" @click="page--">上一頁</a>
      </li>
      <template v-for="index in totalPages" :key="index">
        <template v-if="index >= page - 2 && index <= page + 2">
          <li :class="'page-item ' + (page===index?'active':'')" aria-current="page">
            <template v-if="page===index">
              <div class="page-link">{{ index }}</div>
            </template>
            <template v-else>
              <a class="page-link" @click="page=index">{{ index }}</a>
            </template>
          </li>
        </template>
      </template>
      <li class="page-item" v-show="hasNext">
        <a class="page-link" :aria-disabled="hasNext" @click="page++">下一頁</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "PageControl",
  props: {
    modelValue: Object
  },
  emits: ["pagination-data-updated"],
  computed: {
    hasPrevious() {
      return this.page > 1
    },
    hasNext() {
      return this.page < this.totalPages
    },
    page: {
      get() {
        return this.modelValue.currentPage
      },
      set(value) {
        this.$emit("pagination-data-updated", {currentPage: value, totalPages: this.modelValue.totalPages});
      }
    },
    totalPages() {
      return this.modelValue.totalPages
    }
  },
}

</script>

<style scoped>

</style>