<template>
  <button v-if="!DetailObj.isEditing" class="btn btn-success btn-sm" type="button" @click="modifyEditor()">修改</button>
  <button v-if="DetailObj.isEditing" class="btn btn-success btn-sm" type="button" @click="confirmedEditor()">確認
  </button>
  <button v-if="DetailObj.isEditing" class="btn btn-warning btn-sm" type="button" @click="cancelEditor()">取消</button>
</template>

<script>
import {patchOrderDetail} from "@/api/OrderDetailAPI";

export default {
  name: "modifyOrderDetailButton",
  emits: ['updateOrderDetailObj'],
  props: {
    orderId: Number,
    orderDetailObj: Object,
    mealStatusOptions: Object,
    orderType: String,
  },
  data() {
    return {
      DetailObj: Object.assign({}, this.orderDetailObj),
      OriginDetailObj: Object.assign({}, this.orderDetailObj),
    }
  },
  methods: {
    modifyEditor() {
      this.DetailObj.isEditing = true
      this.$emit('updateOrderDetailObj', this.DetailObj)
    },
    confirmedEditor() {
      const patchMap = new FormData()
      patchMap.set('dishQuantity', this.orderDetailObj.dishQuantity)
      patchMap.set('mealStatusEnum', this.orderDetailObj.mealStatusEnum)
      patchOrderDetail(this.orderId, this.DetailObj.id, patchMap).then((response) => {
        if (response.status === 200) {
          // 修改origin的固定資料
          this.OriginDetailObj.dishQuantity = this.orderDetailObj.dishQuantity

          // 修改異動的資料並emit
          const index = this.mealStatusOptions.findIndex(option => option.value === this.orderDetailObj.mealStatusEnum)
          if (index !== -1) {
            this.DetailObj.mealStatus = this.mealStatusOptions[index].label
            this.DetailObj.originMealStatusEnum = this.orderDetailObj.mealStatusEnum
            this.DetailObj.mealStatusEnum = this.orderDetailObj.mealStatusEnum
          }
          this.DetailObj.dishQuantity = this.orderDetailObj.dishQuantity
          this.DetailObj.isEditing = false
          this.$emit('updateOrderDetailObj', this.DetailObj)
        }
      }).catch(() => {
        alert('修改異常請稍候再試')
      })
    },
    cancelEditor() {
      this.DetailObj.isEditing = false
      this.DetailObj.dishQuantity = this.OriginDetailObj.dishQuantity
      this.$emit('updateOrderDetailObj', this.DetailObj)
    },
  }
}
</script>

<style scoped>

</style>