<template>
  <div class="modal fade" ref="orderPickup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">取餐資訊 - {{ title }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card text-center text-danger">
            <div class="card-header">
              注意
            </div>
            <div class="card-body">
              取餐資訊只會顯示已預定與已付款的餐點。
            </div>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">菜單</th>
              <th scope="col">數量</th>
              <th scope="col">價錢</th>
              <th scope="col">小計</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="menuGroup in orderMenuGroup" v-bind:key="menuGroup">
              <td>{{ menuGroup.name }}</td>
              <td>{{ menuGroup.quantity }}</td>
              <td>{{ menuGroup.price }}</td>
              <td>{{ menuGroup.total }}</td>
            </tr>
            <tr>
              <td colspan="3">總計</td>
              <td>{{ totalPay }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {Modal} from "bootstrap";
import {getOrderPick} from "@/api/OrderDetailAPI";

export default {
  name: "OrderPickup",
  props: ['orderId', 'title'],
  data() {
    return {
      orderMenuGroup: [],
    }
  },
  computed: {
    bsModal() {
      return new Modal(this.$refs.orderPickup)
    },
    totalPay() {
      let totalPay = 0
      if (this.orderMenuGroup.length !== 0) {
        totalPay = this.orderMenuGroup.reduce((accumulator, menu) =>
            accumulator + menu.total, 0
        )
      }
      return totalPay
    }
  },
  watch: {
    orderId() {
      getOrderPick(this.orderId).then((response) => {
        if (response.status === 200) {
          this.orderMenuGroup = response.data
        }
      })
    }
  }
}
</script>

<style scoped>

</style>