<template>
  <div class="container-xxl py-6">
    <div class="container">
      <div class="section-header text-center mx-auto mb-5 animate__animated animate__fadeInUp"
           style="max-width: 500px;">
        <h1 class="display-5 mb-3">{{ tabName }}</h1>
        <p>{{ tabDescription }}</p>
      </div>
      <div class="row g-5 justify-content-center">
        <div class="col-lg-7 col-md-12 animate__animated animate__fadeInUp" data-wow-delay="0.5s">
          <form @submit.prevent="submitForm">
            <div class="row g-3">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" id="title" class="form-control" v-model="storeInfo.name" disabled>
                  <label for="title">店家名稱</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" id="title" class="form-control" v-model="storeInfo.description" disabled>
                  <label for="title">店家描述</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" id="title" class="form-control" v-model="storeInfo.storeCategoryName" disabled>
                  <label for="title">店家類別</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" id="title" class="form-control" v-model="formData.title"
                         placeholder="訂單名稱" required>
                  <label for="title">訂單名稱</label>
                </div>
              </div>
              <!--            FIXME: input type=time 12:00會有問題-->
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="time" id="endRequestAt" class="form-control" v-model="formData.endRequestAt"
                         placeholder="下單截止時間" required>
                  <label for="endRequestAt">下單截止時間</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="time" id="takeMealAt" class="form-control" v-model="formData.takeMealAt"
                         placeholder="預計取餐時間" required>
                  <label for="takeMealAt">預計取餐時間</label>
                </div>
              </div>
              <div class="col-md-12">
                <select class="form-select form-select-lg mb-3" v-model="formData.orderStatus" required>
                  <option v-for="option in options" :key="option.value" :value="option.value">
                    {{ option.label }}
                  </option>
                </select>
              </div>
              <div v-show="orderMode==='edit'&& formData.orderStatus==='Abandoned'" class="col-md-12">
                <div class="form-floating">
                  <input type="text" id="abandonReason" class="form-control" v-model="formData.abandonReason"
                         placeholder="棄單理由">
                  <label for="abandonReason">棄單理由</label>
                </div>
              </div>
              <LoadingButton v-if="isShowBtn" :buttonText="tabSubmitBtn" :isSubmitting="isSubmitting"/>
              <div class="col-12 mt-3">
                <p class="col-12 text-center">
                  <a href="#" @click="$router.go(-1)">上一頁</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {getStore} from "@/api/StoreAPI";
import {addOrder, editOrder, getOrder} from "@/api/OrderAPI";
import moment from 'moment'
import {disabledAll} from "@/Utils/disabledInputs";

export default {
  name: "OrderEditor",
  data() {
    return {
      formData: {
        title: '',
        endRequestAt: '10:00',
        takeMealAt: '11:50',
        orderStatus: 'PublicOrder',
        storeId: this.$route.params.storeId,
        abandonReason: '',
      },
      formDataPost: '',
      options: [
        {label: '請選擇訂單模式', value: ''},
        {label: '未公開', value: 'Setting'},
        {label: '公開', value: 'PublicOrder'},
      ],
      storeInfo: '',
      orderId: this.$route.query.orderId,
      isSubmitting: false,
      tabDescription: '',
      tabSubmitBtn: '',
    }
  },
  methods: {
    submitForm() {
      const currenDate = new Date().toJSON().slice(0, 10)
      this.formDataPost = Object.assign({}, this.formData)
      this.formDataPost.endRequestAt = currenDate + ' ' + this.formDataPost.endRequestAt + ':00'
      this.formDataPost.takeMealAt = currenDate + ' ' + this.formDataPost.takeMealAt + ':00'
      let axiosInstance;
      this.isSubmitting = true
      if (this.orderMode === 'addOrder') {
        axiosInstance = addOrder(this.formDataPost)
      }
      if (this.orderMode === 'editOrder') {
        axiosInstance = editOrder(this.orderId, this.formDataPost)
      }
      axiosInstance.then((response) => {
        if (response.status === 201 || response.status === 200) {
          this.$router.push({name: 'published', query: {pageNum: '1'}})
        } else {
          this.isSubmitting = false
        }
      })

    },
    setModeInfo() {

      if (this.orderMode === 'addOrder') {
        this.tabDescription = '立刻發起訂單吧！'
        this.tabSubmitBtn = '發起訂單'
      }
      if (this.orderMode === 'editOrder') {
        this.tabDescription = ''
        this.tabSubmitBtn = '修改訂單'
        this.options = [...this.options, ...[{label: '棄單', value: 'Abandoned'}]]
        this.getOrderInfo()
      }
      if (this.orderMode === 'viewOrder') {
        this.tabDescription = ''
        this.tabSubmitBtn = ''
        this.getOrderInfo()
        disabledAll()
      }
    },
    getStore() {
      getStore(this.formData.storeId).then((response) => {
        if (response.status === 200 && response.data) {
          this.storeInfo = response.data
        }
      })
    },
    async getOrderInfo() {
      await getOrder(this.orderId).then(response => {
        const data = response.data
        this.formData.orderStatus = data.orderStatus
        this.formData.title = data.title
        this.formData.endRequestAt = moment(String(data.endRequestAt), 'YYYY/MM/DD HH:mm:ss').format('HH:mm')
        this.formData.takeMealAt = moment(String(data.takeMealAt), 'YYYY/MM/DD HH:mm:ss').format('HH:mm')
        this.formData.abandonReason = data.abandonReason
      })
    },
  },
  computed: {
    orderMode() {
      return this.$route.name
    },
    tabName() {
      return this.$route.meta.title
    },
    isShowBtn() {
      return (this.orderMode === 'addOrder' || this.orderMode === 'editOrder')
    }
  },
  mounted() {
    this.getStore()
    this.setModeInfo()
  },
  watch: {
    orderMode: function () {
      this.setModeInfo()
    },
  }
}
</script>

<style scoped>

</style>