<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box clearfix">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="table-light">
              <tr>
                <th class="text-center" v-if="columnStatus.showTitle"><span>訂單名稱</span></th>
                <th class="text-center" v-if="columnStatus.showOrganizer"><span>主辦人</span></th>
                <th class="text-center" v-if="columnStatus.showStoreName"><span>店家</span></th>
                <th class="text-center" v-if="columnStatus.showEndRequestAt"><span>截止時間</span></th>
                <th class="text-center" v-if="columnStatus.showTakeMealAt"><span>取餐時間</span></th>
                <th class="text-center" v-if="columnStatus.showOrderStatus"><span>訂單狀態</span></th>
                <th class="text-center" v-if="columnStatus.showFunction">功能</th>
              </tr>
              </thead>
              <tbody>
              <template v-for="order in orders" v-bind:key="order">
                <tr>
                  <td v-if="columnStatus.showTitle">
                    {{ (showCollapseSymbol(showDetails[order.id])) }}
                    {{ order.title }}
                  </td>
                  <td @click="toggleDetails(order.id)" v-if="columnStatus.showOrganizer">{{ order.organizerName }}</td>
                  <td @click="toggleDetails(order.id)" v-if="columnStatus.showStoreName">{{ order.storeName }}</td>
                  <td @click="toggleDetails(order.id)" v-if="columnStatus.showEndRequestAt" class="text-center">
                    {{ order.endRequestAt }}
                  </td>
                  <td @click="toggleDetails(order.id)" v-if="columnStatus.showTakeMealAt">{{ order.takeMealAt }}</td>
                  <td @click="toggleDetails(order.id)" v-if="columnStatus.showOrderStatus">{{ order.orderStatus }}</td>
                  <td v-if="columnStatus.showFunction" class="text-center"
                      style="width: 20%;text-align: justify;">
                    <template v-if="orderType==='published'">
                      <a @click="showModal($event,order.id, order.title)" href="#">
                         <span class="fa-stack">
                           <i class="fa-solid fa-circle-info fa-stack-1x" aria-hidden="true"></i>
                        </span>
                        取餐資訊
                      </a>
                      <router-link v-if="isAbandoned(order.orderStatusEnum)||isOutOfDate(order.endRequestAt)"
                                   :to="{name:'viewOrder', params:{storeId: order.storeId}, query:{orderId: order.id}}">
                          <span class="fa-stack">
                            <i class="fa fa-file-text fa-stack-1x" aria-hidden="true"></i>
                          </span>
                        檢視
                      </router-link>
                      <template v-else>
                        <router-link
                            :to="{name:'editOrder', params:{storeId: order.storeId}, query:{orderId: order.id}}">
                          <span class="fa-stack">
                            <i class="fa-solid fa-pen-to-square fa-stack-1x" aria-hidden="true"></i>
                          </span>
                          編輯
                        </router-link>
                        <a @click="deleteOrder(order.orderId)" href="#">
                         <span class="fa-stack">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                          刪除
                        </a>
                      </template>
                    </template>
                    <template v-if="orderType==='tables'">
                      <router-link
                          :to="{name:'storeMenu', params:{storeId: order.storeId}, query:{orderId: order.id}}">
                          <span class="fa-stack">
                            <i class="fa-solid fa-user-plus fa-stack-1x" aria-hidden="true"></i>
                          </span>
                        參加
                      </router-link>
                    </template>
                  </td>
                </tr>
                <tr v-if="showDetails[order.id]">
                  <td colspan="6">
                    <OrderDetailList :orderId="order.id"
                                     :orderType="orderType"
                                     :endRequestAt="new Date(order.endRequestAt)"/>
                  </td>
                </tr>
              </template>
              </tbody>
            </table>
          </div>
          <PageControl v-model="pagination" @pagination-data-updated="handlePaginationDataUpdated"/>
        </div>
      </div>
    </div>
  </div>
  <OrderPickup ref="modal" :orderId="modelOrderId" :title="modelTitle"/>
</template>

<script>
import PageControl from "@/components/PageControl.vue";
import OrderDetailList from "@/views/Order/OrderDetailList.vue";
import OrderPickup from "@/views/Order/OrderPickup.vue";
import {deleteOrder, getJoinedOrders, getPublishedOrder, getTables} from "@/api/OrderAPI";
import moment from "moment/moment";

export default {
  name: "OrderList",
  components: {PageControl, OrderDetailList, OrderPickup},
  data() {
    return {
      pagination: {
        currentPage: Math.max(this.$route.query.pageNum, 1),
        totalPages: 1,
      },
      columnStatus: {
        showTitle: true,
        showStoreName: true,
        showEndRequestAt: true,
        showTakeMealAt: true,
        showOrderStatus: true,
        showFunction: true,
        showOrganizer: false,
      },
      orders: [],
      showDetails: {},
      modelOrderId: null,
      modelTitle: '',
    }
  },
  methods: {
    handlePaginationDataUpdated(newPagination) {
      this.pagination = {
        currentPage: newPagination.currentPage,
        totalPages: newPagination.totalPages
      }
      this.$router.push({name: this.orderType, query: {pageNum: newPagination.currentPage}})
    },
    getOrder() {
      let response;
      // reset first
      this.columnStatus.showTitle= true
      this.columnStatus.showStoreName= true
      this.columnStatus.showEndRequestAt= true
      this.columnStatus.showTakeMealAt= true
      this.columnStatus.showOrderStatus= true
      this.columnStatus.showFunction= true
      this.columnStatus.showOrganizer= false
      if (this.orderType === 'published') {
        response = getPublishedOrder(this.currentPage)
      }
      if (this.orderType === 'tables') {
        this.columnStatus.showTakeMealAt = false
        this.columnStatus.showOrganizer = true
        this.columnStatus.showOrderStatus = false
        response = getTables(this.currentPage)
      }
      if (this.orderType === 'joined') {
        this.columnStatus.showFunction = false
        response = getJoinedOrders(this.currentPage)
      }
      if (response) {
        response.then(response => {
          if (response.status === 200) {
            const data = response.data
            this.orders = data.orderList
            this.pagination.totalPages = Math.max(data.totalPages, 1)
            this.pagination.page = Math.max(data.page, 1)
          }
        })
      }
    },
    deleteOrder(orderId) {
      if (confirm("你確定要刪除該比訂單？")) {
        deleteOrder(orderId).then((response) => {
          if (response.status === 200) {
            alert('已刪除此訂單')
          }
        }).finally(() => {
          this.getOrder()
        })
      }
    },
    isAbandoned(orderStatus) {
      return orderStatus === 'Abandoned'
    },
    isOutOfDate(endRequestAt) {
      const date1 = new Date()
      date1.setHours(0, 0, 0, 0)
      const date2 = new Date(moment(String(endRequestAt), 'YYYY/MM/DD HH:mm:ss').format('YYYY/MM/DD'))
      return date2 < date1
    },
    toggleDetails(orderId) {
      if (this.orderType !== 'tables') {
        this.showDetails[orderId] = !this.showDetails[orderId];
      }
    },
    showCollapseSymbol(isExpanded) {
      return this.orderType !== 'tables' ? (isExpanded ? '-' : '+') : '';
    },
    showModal(event, orderId, title) {
      event.preventDefault()
      this.modelOrderId = orderId
      this.modelTitle = title
      this.$refs.modal.bsModal.show()
    }
  },
  computed: {
    currentPage() {
      return Math.max(this.pagination.currentPage, 1)
    },
    totalPages() {
      return Math.max(this.pagination.totalPages, 1)
    },
    orderType() {
      return this.$route.name
    },
  },
  mounted() {
    this.getOrder()
  },
  watch: {
    currentPage: function () {
      this.getOrder()
    },
    orderType: function () {
      this.getOrder()
    },
  }
}
</script>

<style scoped>

</style>