<template>
  <table class="table  table-hover table-sm mb-0">
    <thead class="table-light">
    <tr>
      <th scope="col">名稱</th>
      <th scope="col">價格</th>
      <th scope="col">數量</th>
      <th scope="col">狀態</th>
      <th scope="col">預定人</th>
      <th scope="col" style="width: 20vh;">功能</th>
    </tr>
    </thead>
    <tbody>
    <template v-for="(orderDetail, index) in orderDetailList" v-bind:key="orderDetail">
      <tr>
        <td :class="getTextColor(orderDetail.mealStatusEnum)">{{ orderDetail.dishName }}</td>
        <td :class="getTextColor(orderDetail.mealStatusEnum)">{{ orderDetail.dishPrice }}</td>
        <td :class="getTextColor(orderDetail.mealStatusEnum)">
          <input class="w-50" v-if="orderDetail.isEditing" type="number" v-model="orderDetail.dishQuantity">
          <template v-else>
            {{ orderDetail.dishQuantity }}
          </template>
        </td>
        <td :class="getTextColor(orderDetail.mealStatusEnum)">
          <select v-if="orderDetail.isEditing&&orderType==='published'"
                  v-model="orderDetail.mealStatusEnum"
                  class="form-select form-select-sm mb-3">
            <option v-for="option in mealStatusOptions" :key="option.value" :value="option.value">
              {{ option.label }}
            </option>
          </select>
          <template v-else>
            {{ orderDetail.mealStatus }}
          </template>
        </td>
        <td>{{ orderDetail.userName }}</td>
        <td>
          <div class="d-grid gap-2 d-md-flex">
            <template v-if="canEdit(orderDetail.originMealStatusEnum)">
              <modifyOrderDetailButton :orderId="orderId"
                                       :orderDetailObj="orderDetail"
                                       :orderType="orderType"
                                       :mealStatusOptions="mealStatusOptions"
                                       @updateOrderDetailObj="Object.assign(orderDetail,$event)"/>
              <button v-if="!isDelete(orderDetail.originMealStatusEnum)"
                      class="btn btn-danger btn-sm" type="button"
                      @click="deleteOrderDetail(orderDetail.id)">
                移除
              </button>
            </template>
          </div>
        </td>
      </tr>
      <tr v-if="showUserPayment(orderDetail.userName, index) && orderType==='published'">
        <td class="text-danger">預付總額：</td>
        <td class="text-danger">{{ getUserPrepaid(orderDetail.userName) }}</td>
        <td class="text-success">已付總額：</td>
        <td class="text-success">{{ getUserPaid(orderDetail.userName) }}</td>
        <td colspan="2" v-if="showPaidBtn(orderDetail.userName)">
          <button class="btn btn-primary btn-sm" @click="patchDetailMealStatusByUser(orderId, orderDetail.userId)">
            <!--            fixme:修正過期後還能修改-->
            批次修改{{ orderDetail.userName }}已付款
          </button>
        </td>
      </tr>
      <tr>
      </tr>
    </template>
    <tr>
      <td class="text-danger">總預付總額：</td>
      <td class="text-danger">{{ getTotalPrepaid }}</td>
      <td class="text-success">總已付總額：</td>
      <td class="text-success">{{ getTotalPaid }}</td>
      <td colspan="2" v-if="orderType==='published'">
        <!--        fixme:動態產生-->
        <!--            fixme:修正過期後還能修改-->
        <button class="btn btn-primary btn-sm" @click="patchDetailMealStatus(orderId)">
          批次修改成已預定
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import {
  deleteOrderDetail,
  getJoinedOrderDetails,
  getPublishedOrderDetails, patchDetailMealStatus,
  patchDetailMealStatusByUser
} from "@/api/OrderDetailAPI";
import modifyOrderDetailButton from "@/views/Order/modifyOrderDetailButton.vue"

export default {
  name: "OrderDetailList",
  components: {modifyOrderDetailButton},
  props: {
    orderId: Number,
    endRequestAt: Date,
    orderType: String,
  },
  data() {
    return {
      currentUser: '',
      orderDetailList: [],
      mealStatusOptions: [
        {'value': 'Reserved', 'label': '已預定'},
        {'value': 'Paid', 'label': '已付款'},
        {'value': 'SoldOut', 'label': '已完售'},
        {'value': 'CancelledByOwner', 'label': '已取消(主辦人)'},
      ]
    }
  },
  methods: {
    setList(detailVOList) {
      this.orderDetailList = detailVOList
      this.orderDetailList.forEach(orderDetail => {
        orderDetail.originMealStatusEnum = orderDetail.mealStatusEnum
      })
    },
    getOrderDetails() {
      if (this.orderType === 'published') {
        getPublishedOrderDetails(this.orderId).then(response => {
          if (response.status === 200) {
            this.setList(response.data.detailVOList)
          }
        })
      } else {
        getJoinedOrderDetails(this.orderId).then(response => {
          if (response.status === 200) {
            this.setList(response.data.detailVOList)
          }
        })
      }
    },
    deleteOrderDetail(orderDetailId) {
      if (confirm('您確定要移除？')) {
        deleteOrderDetail(this.orderId, orderDetailId).then(response => {
          if (response.status === 200) {
            this.getOrderDetails()
          }
        })
      }
    },
    isDelete(mealStatusEnum) {
      const pattern = /Cancel\*?/;
      return pattern.test(mealStatusEnum)
    },
    canEdit(originMealStatusEnum) {
      if (this.orderType === 'published') {
        if (this.isDelete(originMealStatusEnum)) {
          return false
        } else {
          return new Date() < this.endRequestAt
        }
      }
      if (this.orderType === 'joined'
          && (originMealStatusEnum === 'PreOrder'
              || originMealStatusEnum === 'Ordered'
              || originMealStatusEnum === 'OverdueOrder')) {
        return true
      }
    },
    showUserPayment(userName, index) {
      const nextIndex = index + 1
      const isLastDetail = nextIndex === this.orderDetailList.length
      const isDifferentUser = !isLastDetail && userName !== this.orderDetailList[nextIndex].userName
      return isDifferentUser || isLastDetail
    },
    showPaidBtn(username) {
      const prepaidLength = this.orderDetailList.filter((detail) => {
        if (detail.userName === username) {
          return this.isPrepaid(detail.mealStatusEnum)
        }
      }).length
      return prepaidLength !== 0
    },
    countUserPrepaid(username) {
      return this.orderDetailList.reduce((total, detail) => {
        if (detail.userName === username
            && this.isPrepaid(detail.mealStatusEnum)) {
          return total + detail.dishQuantity * detail.dishPrice
        }
        return total
      }, 0)
    },
    countUserPaid(username) {
      return this.orderDetailList.reduce((total, detail) => {
        if (detail.userName === username && this.isPaid(detail.mealStatusEnum)) {
          return total + (detail.dishQuantity * detail.dishPrice)
        }
        return total
      }, 0)
    },
    isPrepaid(mealStatus) {
      return (mealStatus === 'PreOrder'
          || mealStatus === 'Ordered'
          || mealStatus === 'OverdueOrder'
          || mealStatus === 'Reserved')
    },
    isPaid(mealStatus) {
      return (mealStatus === 'Paid')
    },
    autoColor(mealStatus) {
      let textColor = 'text-black'
      if (this.isPrepaid(mealStatus)) {
        textColor = "text-danger"
      }
      if (this.isPaid(mealStatus)) {
        textColor = "text-success"
      }
      return textColor
    },
    patchDetailMealStatusByUser(orderId, userId) {
      patchDetailMealStatusByUser(orderId, userId).then(response => {
        if (response.status === 200) {
          this.getOrderDetails()
        }
      })
    },
    patchDetailMealStatus(orderId) {
      patchDetailMealStatus(orderId).then(response => {
        if (response.status === 200) {
          this.getOrderDetails()
        }
      })
    }
  },
  mounted() {
    this.getOrderDetails()
  },
  computed: {
    getTotalPaid() {
      let sum = 0;
      for (let i = 0; i < this.orderDetailList.length; i++) {
        if (this.orderDetailList[i].mealStatusEnum === 'Paid') {
          sum += this.orderDetailList[i].dishQuantity * this.orderDetailList[i].dishPrice;
        }
      }
      return sum;
    },
    getTotalPrepaid() {
      let sum = 0;
      for (let i = 0; i < this.orderDetailList.length; i++) {
        if (this.orderDetailList[i].mealStatusEnum === 'PreOrder'
            || this.orderDetailList[i].mealStatusEnum === 'Ordered'
            || this.orderDetailList[i].mealStatusEnum === 'OverdueOrder'
            || this.orderDetailList[i].mealStatusEnum === 'Reserved') {
          sum += this.orderDetailList[i].dishQuantity * this.orderDetailList[i].dishPrice;
        }
      }
      return sum;
    },
    getUserPaid() {
      return (username) => this.countUserPaid(username)
    },
    getUserPrepaid() {
      return (username) => this.countUserPrepaid(username)
    },
    getTextColor() {
      return (mealStatus) => this.autoColor(mealStatus)
    }
  },
}
</script>

<style scoped>

</style>
