<template>
    <form @submit.prevent="submitForm" ref="editStoreForm">
        <div class="modal fade" ref="editStore" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="BackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="BackdropLabel">{{ title }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input id="name" type="text" class="form-control" placeholder="菜單名稱"
                                           name="name"
                                           v-model="menu.name">
                                    <label for="name">菜單名稱</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <select class="form-select mb-3" aria-label="菜單類別" name="menuCategoryId"
                                        v-model="menu.menuCategoryId">
                                    <option v-for="obj in combinedMenuCategories" :key="obj" :value="obj.id">
                                        {{ obj.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input id="description" type="text" class="form-control" placeholder="店家名稱"
                                           name="description"
                                           v-model="menu.description">
                                    <label for="description">菜單描述</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input id="price" type="text" class="form-control" placeholder="菜單價格"
                                           name="price"
                                           v-model="menu.price">
                                    <label for="price">菜單價格</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-info btn-sm me-2" type="button" @click="resetMainImage">重設
                                </button>
                                <template v-if="menu.menuPicUrl">
                                    <button type="button" class="btn btn-outline-info btn-sm me-2"
                                            ref="menuImgPopover">菜單主圖片
                                    </button>
                                    <button class="btn btn-warning btn-sm me-2" type="button"
                                            @click="removeStoreImage(menu.menuPicId,'menu')">
                                        刪除主圖片
                                    </button>
                                </template>
                                <label for="imageFile" class="form-label">菜單主圖片</label>
                                <input type="file" ref="imageFile" id="imageFile" name="imageFile" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ btnName }}</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</template>

<script>
import {Modal, Popover} from "bootstrap";
import {addStoreMenu, editStoreMenu, getMenuEditor, removeStoreImage} from "@/api/StoreAPI";

export default {
    name: "EditStoreMenu",
    props: ['storeId', 'menuId', 'renewCategories'],
    data() {
        return {
            storeInfo: {
                storeName: '',
            },
            states: [
                {mode: 'edit', prefixTitle: '編輯', title: '菜單資訊', btnName: '修改'},
                {mode: 'add', prefixTitle: '新增', title: '菜單資訊', btnName: '新增'},
            ],
            menuCategories: [{name: '請選擇菜單類別...', id: ''}],
            menu: {
                name: '',
                description: '',
                price: '',
                imageFile: '',
                menuPicUrl: '',
                menuPicId: '',
                menuCategoryId: '',
                menuCategories: [],
            },
        }
    },
    computed: {
        mode() {
            return (this.menuId ? 'edit' : 'add')
        },
        title() {
            const {prefixTitle, title} = this.states.find(obj => obj.mode === this.mode)
            return prefixTitle + this.storeInfo.storeName + title
        },
        btnName() {
            return this.states.find(obj => obj.mode === this.mode).btnName
        },
        bsModal() {
            return new Modal(this.$refs.editStore)
        },
        combinedMenuCategories() {
            return this.menuCategories.concat(this.menu.menuCategories)
        },
    },
    methods: {
        removeStoreImage(imageId, type) {
            const typeMapping = {
                menu: {
                    typeName: '菜單圖片',
                    urlKey: 'menuPicUrl',
                    idKey: 'menuPicId'
                }
            };
            const {typeName, urlKey, idKey} = typeMapping[type] || {};

            if (!typeName) {
                console.error('找不到對應類別:', type);
                return;
            }
            if (confirm(`您確定要刪除${typeName}嗎?`)) {
                removeStoreImage(this.menuId, imageId, type).then(response => {
                    if (response.status === 200) {
                        alert(`已經刪除${typeName}!`);
                        this.menu[urlKey] = '';
                        this.menu[idKey] = '';
                    }
                });
            }
        },
        submitForm() {
            const formData = new FormData(this.$refs.editStoreForm)
            let axiosInstance = this.mode === 'add' ? addStoreMenu(this.storeId, formData) : editStoreMenu(this.storeId, this.menuId, formData)
            axiosInstance.then().finally(() => {
                this.bsModal.hide()
                this.$emit("update-menu")
            })
        },
        getMenu() {
            let axiosInstance
            if (this.menuId) {
                axiosInstance = getMenuEditor(this.storeId, this.menuId)
            } else {
                axiosInstance = getMenuEditor(this.storeId)
            }
            {
                this.$refs.imageFile.value = ''
            }
            if (axiosInstance) {
                axiosInstance.then(response => {
                    const data = response.data
                    this.storeInfo.storeName = data.storeName
                    this.menu.name = data.name
                    this.menu.description = data.description
                    this.menu.price = data.price
                    this.menu.menuPicUrl = data.menuPicUrl
                    this.menu.menuPicId = data.menuPicId
                    if (data.menuCategoryId) {
                        this.menu.menuCategoryId = data.menuCategoryId
                    } else {
                        this.menu.menuCategoryId = ''
                    }

                    if (data.menuCategoryList) {
                        this.menu.menuCategories = data.menuCategoryList
                    }
                }).finally(() => {
                    this.$nextTick(() => {
                        if (this.$refs.menuImgPopover) {
                            new Popover(this.$refs.menuImgPopover, {
                                trigger: "hover focus",
                                placement: "bottom",
                                container: "body",
                                html: true,
                                content: `<img class="img-thumbnail" src="${this.menu.menuPicUrl}" alt="菜單圖片" />`,
                            });
                        }
                    })
                })

            }
        }
    },
    watch: {
        menuId: function () {
            this.getMenu()
        },
        renewCategories: function () {
            if (this.renewCategories) {
                this.getMenu()
            }
            this.$emit("update-status")
        }
    }

}
</script>

<style scoped>

</style>
