<template>
    <form @submit.prevent="submitForm" ref="editStoreForm">
        <div class="modal fade" ref="editStore" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="BackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="BackdropLabel">{{ title }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input id="storeName" type="text" class="form-control" placeholder="店家名稱"
                                           name="storeName"
                                           v-model="storeInfo.name">
                                    <label for="storeName">店家名稱</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <select class="form-select mb-3" aria-label="店家類別" name="storeCategoryId"
                                        v-model="storeInfo.storeCategoryId">
                                    <option v-for="obj in combinedStoreCategories" :key="obj" :value="obj.id">
                                        {{ obj.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                <textarea class="form-control" id="description" name="description" rows="5"
                                          v-model="storeInfo.description">
                                </textarea>
                                    <label for="description">店家描述</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <select class="form-select mb-3" aria-label="店家狀態" name="storeStatesEnum"
                                        v-model="storeInfo.storeStatesEnum">
                                    <option v-for="(value,key) in combinedStoreStatesEnum" :key="key" :value="key">
                                        {{ value }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <select class="form-select" aria-label="店家價位" name="price"
                                        v-model="storeInfo.price">
                                    <option v-for="obj in priceMap" :key="obj" :value="Object.values(obj)[0]">
                                        {{ Object.keys(obj)[0] }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-info btn-sm me-2" type="button" @click="resetMainImage">重設
                                </button>

                                <template v-if="storeInfo.mainUrl">
                                    <button type="button" class="btn btn-outline-info btn-sm me-2"
                                            ref="mainImgPopover">主圖片</button>
                                    <button class="btn btn-warning btn-sm me-2" type="button"
                                            @click="removeStoreImage(storeInfo.mainId,'main')">
                                        刪除主圖片
                                    </button>
                                </template>
                                <label for="mainImage" class="form-label">店家主圖片</label>
                                <input class="form-control col-md-10" type="file" ref="mainImage" id="mainImage"
                                       name="mainImage">

                            </div>
                            <div class="col-md-12">
                                <button type="button" class="btn btn-info btn-sm me-2" @click="resetBannerImage">重設
                                </button>
                                <template v-if="storeInfo.bannerUrl">
                                    <button type="button"
                                            class="btn btn-outline-info btn-sm me-2"
                                            ref="bannerImgPopover">橫幅圖片</button>
                                    <button class="btn btn-warning btn-sm me-2" type="button"
                                            @click="removeStoreImage(storeInfo.bannerId,'banner')">
                                        刪除橫幅圖片
                                    </button>
                                </template>

                                <label for="bannerImage" class="form-label">店家橫幅圖片</label>
                                <input class="form-control" type="file" ref="bannerImage" id="bannerImage"
                                       name="bannerImage">

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ btnName }}</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
import {Modal, Popover} from "bootstrap";
import {addStore, editStore, getStoreEditor, removeStoreImage} from "@/api/StoreAPI";

export default {
    name: "EditStore",
    props: ['storeId'],
    data() {
        return {
            states: [
                {mode: 'edit', title: '編輯店家資訊', btnName: '修改'},
                {mode: 'add', title: '新增店家資訊', btnName: '新增'},
            ],
            mode: '',
            title: '',
            btnName: '',
            storeCategories: [{name: '請選擇店家類別...', id: ''}],
            storeStatesEnum: {'': '請選擇店家狀態...'},
            storeInfo: {
                name: '',
                description: '',
                storeStatesEnum: '',
                storeCategoryId: '',
                price: 0,
                bannerUrl: '',
                mainUrl: '',
                mainId: '',
                bannerId: '',
                storeCategoryMaps: [],
                storeStateJson: [],
            },
        }
    },
    computed: {
        bsModal() {
            return new Modal(this.$refs.editStore)
        },
        combinedStoreCategories() {
            return this.storeCategories.concat(this.storeInfo.storeCategoryMaps)
        },
        combinedStoreStatesEnum() {
            return {...this.storeStatesEnum, ...this.storeInfo.storeStateJson}
        },
        priceMap() {
            return [
                ...Array.from({length: 5}, (_, i) => ({[`$`.repeat(i + 1)]: i + 1})),
            ];
        },
    },
    methods: {
        getEditorInfo(editorMode) {
            const {mode, title, btnName} = this.states.find(obj => obj.mode === editorMode)
            this.mode = mode
            this.title = title
            this.btnName = btnName
            if (this.mode === 'add') {
                this.storeInfo.name = ''
                this.storeInfo.description = ''
                this.storeInfo.storeStatesEnum = ''
                this.storeInfo.storeCategoryId = ''
                this.storeInfo.price = 0
                this.storeInfo.bannerUrl = ''
                this.storeInfo.mainUrl = ''
                this.storeInfo.mainId = ''
                this.storeInfo.bannerId = ''
                this.resetMainImage()
                this.resetBannerImage()
            }
            if (this.mode === 'edit') {
                this.resetMainImage()
                this.resetBannerImage()
            }
        },
        resetMainImage() {
            this.$refs.mainImage.value = ''
        },
        resetBannerImage() {
            this.$refs.bannerImage.value = ''
        },
        submitForm() {
            const formData = new FormData(this.$refs.editStoreForm)
            let axiosInstance
            if (this.mode === 'add') {
                axiosInstance = addStore(formData)
            } else {
                axiosInstance = editStore(this.storeId, formData)
            }
            axiosInstance.then(response => {
                if (response.status === 201) alert('修改成功')
            }).finally(() => this.bsModal.hide())
        },
        removeStoreImage(imageId, type) {
            const typeMapping = {
                main: {
                    typeName: ' 主圖片',
                    urlKey: 'mainUrl',
                    idKey: 'mainId'
                },
                banner: {
                    typeName: ' 橫幅圖片',
                    urlKey: 'bannerUrl',
                    idKey: 'bannerId'
                }
            };
            const {typeName, urlKey, idKey} = typeMapping[type] || {};

            if (!typeName) {
                console.error('找不到對應類別:', type);
                return;
            }
            if (confirm(`您確定要刪除${typeName}嗎?`)) {
                removeStoreImage(this.storeId, imageId, type).then(response => {
                    if (response.status === 200) {
                        alert(`已經刪除${typeName}!`);
                        this.storeInfo[urlKey] = '';
                        this.storeInfo[idKey] = '';
                    }
                });
            }
        },
        initPopover() {
            if(this.$refs.mainImgPopover) {
                new Popover(this.$refs.mainImgPopover, {
                    trigger: "hover focus",
                    placement: "bottom",
                    container: "body",
                    html: true,
                    content: `<img class="img-thumbnail" src="${this.storeInfo.mainUrl}" alt="主圖片" />`,
                });
            }
            if(this.$refs.bannerImgPopover) {
                new Popover(this.$refs.bannerImgPopover, {
                    trigger: "hover focus",
                    placement: "bottom",
                    container: "body",
                    html: true,
                    content: `<img class="img-thumbnail" src="${this.storeInfo.bannerUrl}" alt="橫幅圖片" />`,
                });
            }
        },
    },
    watch: {
        storeId: function () {
            let axiosInstance
            if (this.storeId) {
                this.getEditorInfo('edit')
                axiosInstance = getStoreEditor(this.storeId)
            } else {
                this.getEditorInfo('add')
                axiosInstance = getStoreEditor()
            }
            if (axiosInstance) {
                axiosInstance.then(response => {
                    const data = response.data
                    this.storeInfo.name = data.name
                    this.storeInfo.description = data.description
                    if (data.storeStatesEnum) {
                        this.storeInfo.storeStatesEnum = data.storeStatesEnum.toLocaleLowerCase()
                    }
                    if (data.storeCategoryId) {
                        this.storeInfo.storeCategoryId = data.storeCategoryId
                    }
                    if (data.price) {
                        this.storeInfo.price = data.price
                    }
                    this.storeInfo.mainId = data.imageMainId
                    this.storeInfo.mainUrl = data.imageMainUrl
                    this.storeInfo.bannerId = data.imageBannerId
                    this.storeInfo.bannerUrl = data.imageBannerUrl
                    this.storeInfo.storeCategoryMaps = data.storeCategoryMaps
                    this.storeInfo.storeStateJson = JSON.parse(data.storeStateJson)
                    this.$nextTick(() => {
                        this.initPopover()
                    })
                })
            }
        }

    }

}
</script>

<style scoped>
</style>
