<template>
    <div class="modal fade" ref="editStoreCategories" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="BackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="BackdropLabel">{{ title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <draggable
                            tag="ul"
                            :list="list"
                            class="list-group"
                            handle=".handle">
                        <template #item="{ element, index }">
                            <li class="list-group-item">
                                <div><i class="fa fa-align-justify handle me-2"></i></div>
                                <input type="text" class="form-control me-2" v-model="element.name"/>
                                <input type="hidden" v-model="element.id"/>
                                <button type="button" class="btn-close me-2" @click="removeAt(index)"></button>
                            </li>
                        </template>
                    </draggable>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" @click="add()">新增菜單類別</button>
                    <button type="submit" class="btn btn-primary" @click="submitForm()">確定</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import {Modal} from "bootstrap";
import draggable from "vuedraggable";
import {getStoreMenuCategories, modifyMenuCategories} from "@/api/StoreAPI";

export default {
    name: "EditStoreMenuCategories",
    props: ['storeId'],
    components: {
        draggable
    },
    data() {
        return {
            title: '編輯店家菜單類別',
            list: [{id: '', name: ''}],
            dragging: false
        }
    },
    computed: {
        bsModal() {
            return new Modal(this.$refs.editStoreCategories)
        },
    },
    methods: {
        removeAt(idx) {
            this.list.splice(idx, 1);
        },
        add() {
            this.list.push({name: ''});
        },
        submitForm() {
            modifyMenuCategories(this.storeId, this.list).then(() => {
                alert('已修改')
                this.$emit("update-menu")
            })
        },
        getStoreMenuCategories() {
            getStoreMenuCategories(this.storeId).then((response) => {
                this.list = response.data
            })
        }
    },
}
</script>

<style scoped>
.button {
    margin-top: 35px;
}

.handle {
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
}

.close {
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
}

input {
    display: inline-block;
    width: 50%;
}

.text {
    margin: 20px;
}
</style>
