<template>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 animate__animated animate__fadeInUp"
                         style="max-width: 500px;">
                        <h1 class="display-5 mb-3">{{ storeInfo.name }}菜單</h1>
                        <p>{{ storeInfo.description }}</p>
                        <div class="nav-store-btn" v-if="isEditor&&isMode">
                            <button type="button" class="btn btn-primary mx-1" @click="showMenuCategoriesModal($event)">
                                編輯菜單類別
                            </button>
                            <button type="button" class="btn btn-primary mx-1" @click="showMenuModal($event,'')">
                                新增菜單
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-start text-lg-end animate__animated animate__slideInRight">
                    <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                        <li class="nav-item me-2">
                            <input type="text"  class="form-control" placeholder="關鍵字" v-model="keyword">
                        </li>
                        <template v-for="(item, index) in storeInfo.menuType" :key="item.typeName">
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary border-2" :class="{ 'active': index === 0 }"
                                   data-bs-toggle="pill"
                                   :href="'#tab-'+index">{{ item.typeName }}</a>
                            </li>
                        </template>
                        <li v-if="hasOrder" class="nav-item me-2">
                            <a class="btn btn-outline-dark border-2"
                               data-bs-toggle="pill"
                               :href="'#tab-cart'">購物車({{
                                items.filter(item => item.quantity !== undefined).length
                                }})</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <template v-for="(menuType, menuTypeIndex) in storeInfo.menuType" :key="menuType.name">
                    <div :id="'tab-' + menuTypeIndex" class="tab-pane fade show p-0"
                         :class="{ 'active' : menuTypeIndex === 0 }">
                        <div class="row g-4">
                            <template v-for="(storeMenu, menuIndex) in filteredMenuTypes.at(menuTypeIndex).storeMenus"
                                      :key="storeMenu">
                                <div class="col-xl-3 col-lg-4 col-md-6 animate__animated animate__fadeInUp">
                                    <div class="product-item">
                                        <div class="position-relative bg-light overflow-hidden">
                                            <img class="img-fluid " style="height: 300px;object-fit:cover; "
                                                 :src="storeMenu.menuUrl?storeMenu.menuUrl:noImage" alt="">
                                            <div v-if="isNewItem(storeMenu.createAt)" class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                                新品
                                            </div>
                                        </div>
                                        <div class="text-center p-4">
                                            <div class="d-block h5 mb-2">{{ storeMenu.name }}</div>
                                            <span class="text-primary me-1">${{ storeMenu.price }}</span>
                                            <!--                      <span class="text-body text-decoration-line-through">舊價格</span>-->
                                        </div>
                                        <div v-if="storeMenu.description" class="border-top">
                                            <div class="card">
                                                <div class="card-body">
                                                    {{storeMenu.description}}
                                                </div>
                                            </div>
                                        </div>

                                        <div v-if="hasOrder" class="d-flex border-top">
                                            <small class="w-100 text-center border-end py-4">
                                                <input type="number" value=0
                                                       @change="addMenuToCart(storeMenu.id, $event.target.value)"
                                                       maxlength="3" style="width: 75px;">
                                            </small>
                                        </div>
                                        <template v-if="isEditor&&isMode">
                                            <div class="d-flex border-top">
                                                <a class="w-100 text-center py-2" href="javascript:void(0)"
                                                   @click="showMenuModal($event,storeMenu.id)">
                                                    <i class="fas fa-fw fa-edit me-2" aria-hidden="true"></i>
                                                    編輯菜單
                                                </a>
                                            </div>
                                            <div class="d-flex border-top">
                                                <a class="text-danger w-100 text-center py-2" href="javascript:void(0)"
                                                   @click="removeMenu(storeMenu.id, menuTypeIndex, menuIndex)">
                                                    <i class="fa fa-trash me-2" aria-hidden="true"></i>
                                                    刪除菜單
                                                </a>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </template>
                            <div class="col-12 text-center">
                                <template v-if="!hasOrder">
                                    <router-link :to="{name:'addOrder',params: { storeId: storeId }}"
                                                 class="btn btn-primary rounded-pill py-3 px-5">
                                        <i class="fas fa-file-medical me-2"></i>
                                        發起訂單
                                    </router-link>
                                </template>
                            </div>
                        </div>
                    </div>
                </template>
                <!--        購物車內容 Start-->
                <template v-if="hasOrder">
                    <div id="tab-cart" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <template
                                    v-for="(item) in (items.filter(unFilterItem => unFilterItem.quantity !== undefined))"
                                    v-bind:key="item">
                                <div class="col-xl-3 col-lg-4 col-md-6 animate__animated animate__fadeInUp">
                                    <div class="product-item">
                                        <div class="position-relative bg-light overflow-hidden">
                                            <img class="img-fluid " style="height: 300px;object-fit:cover; "
                                                 :src="item.menuUrl?item.menuUrl:noImage" alt="">
                                            <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                                新品
                                            </div>
                                        </div>
                                        <div class="text-center p-4">
                                            <div class="d-block h5 mb-2">{{ item.name }}</div>
                                            <span class="text-primary me-1">${{ item.price }}</span>
                                            <!--                      <span class="text-body text-decoration-line-through">舊價格</span>-->
                                        </div>
                                        <div class="d-flex border-top">
                                            <small class="w-100 text-center border-end py-4">
                                                <input type="number" :value=item.quantity
                                                       @change="addMenuToCart(item.id, $event.target.value)"
                                                       maxlength="3" style="width: 75px;">
                                            </small>
                                        </div>
                                    </div>
                                </div>

                            </template>
                            <div class="col-12 text-center">
                                <a @click="postCart" class="btn btn-dark rounded-pill py-3 px-5">
                                    <i class="fas fa-file-medical me-2"></i>
                                    送出購物車
                                </a>
                            </div>
                        </div>
                    </div>
                </template>
                <!--        購物車內容 End-->
            </div>
        </div>
    </div>
    <div v-if="isEditor&&isMode">
        <EditStoreMenuCategories @update-menu="handleMenuUpdate" ref="menuCategoriesModal" :storeId="storeId"/>
        <EditStoreMenu @update-menu="handleMenuUpdate" @update-status="handleCategoriesStatus" ref="menuModal" :storeId="storeId" :menuId="menuModalById" :renewCategories="renewCategories"/>
    </div>

</template>

<script>
import {getStoreMenu, removeStoreMenu} from "@/api/StoreAPI"
import {addOrderDetail} from "@/api/OrderDetailAPI"
import EditStoreMenuCategories from "@/views/Store/EditStoreMenuCategories.vue"
import EditStoreMenu from "@/views/Store/EditStoreMenu.vue"
import {mapGetters} from "vuex";

export default {
    name: "StoreMenu",
    components: {EditStoreMenuCategories, EditStoreMenu},
    data() {
        return {
            keyword: '',
            noImage: require('@/assets/img/store/noimage.png'),
            storeId: this.$route.params.storeId,
            orderId: this.$route.query.orderId,
            hasOrder: false,
            storeInfo: [],
            items: [],
            menuModalById: null,
            renewCategories: false,
        }
    },
    computed: {
        ...mapGetters(['isEditor', 'isMode']),
        filteredMenuTypes() {
            return this.storeInfo.menuType.map(menuType => ({
                ...menuType,
                storeMenus: menuType.storeMenus.filter(menu => menu.name.includes(this.keyword))
            }));
        }
    },
    methods: {
        getMenu() {
            getStoreMenu(this.storeId).then((response) => {
                if (response.status === 200 && response.data) {
                    this.storeInfo = response.data
                    if (this.storeInfo) {
                        this.storeInfo.menuType.forEach((menuType) => {
                            this.items = [...this.items, ...menuType.storeMenus]
                        })
                    }
                }
            })
        },
        addMenuToCart(menuId, quantity) {
            const menu = this.items.find(menuItem => menuItem.id === menuId);
            if (quantity > 0) {
                menu.quantity = quantity;
            } else {
                delete menu.quantity;
            }
        },
        postCart() {
            const dataToSend = {items: this.items.filter(item => Object.prototype.hasOwnProperty.call(item, 'quantity'))}
            addOrderDetail(this.orderId, dataToSend).then(response => {
                if (response.status === 201 || response.status === 200) {
                    this.$router.push({name: 'joined', query: {pageNum: 1, type: 'joined'}})
                }
            })
        },
        showMenuModal(event, menuId) {
            event.preventDefault()
            this.menuModalById = menuId
            this.$refs.menuModal.bsModal.show()
        },
        showMenuCategoriesModal(event) {
            event.preventDefault()
            this.$refs.menuCategoriesModal.bsModal.show()
            this.$refs.menuCategoriesModal.getStoreMenuCategories()
        },
        removeMenu(menuId, menuTypeIndex, menuIndex) {
            if (confirm('您真的要移除該筆菜單?')) {
                removeStoreMenu(this.storeId, menuId).then(response => {
                    if (response.status === 200) {
                        alert('移除成功')
                        this.storeInfo.menuType.at(menuTypeIndex).storeMenus.splice(menuIndex, 1);
                    }
                })
            }
        },
        handleMenuUpdate() {
            this.getMenu()
            this.renewCategories = true
            this.$refs.menuCategoriesModal.bsModal.hide()
        },
        handleCategoriesStatus() {
            this.renewCategories = false
        },
        isNewItem(itemCreateAt) {
            const itemCreateAtDate = new Date(itemCreateAt)
            const currentDay = new Date()
            const differenceInDays = (currentDay.getTime() - itemCreateAtDate.getTime()) / (1000 * 60 * 60 * 24)
            return differenceInDays <= 30
        }
    },
    beforeMount() {
        this.hasOrder = /^-?\d+$/.test(this.orderId)
        this.getMenu()
    }
}
</script>

<style scoped>

</style>
