<template>
    <div id="storeAnchor" class="container-xxl py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 animate__animated animate__fadeInUp"
                 data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">{{ this.$route.meta.title }}</h1>
                <p>擇您所愛，愛您所想。</p>
                <div class="nav-store-btn" v-if="isEditor&&isMode">
                    <button type="button" class="btn btn-primary mx-1" @click="showCategoriesModal($event)">
                        編輯店家類別
                    </button>
                    <button type="button" class="btn btn-primary mx-1" @click="showModal($event,'')">新增店家</button>
                </div>
            </div>
            <div class="col-lg-12 text-start text-lg-end animate__animated animate__slideInRight">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <select class="form-select mb-3" aria-label="商店類別" name="search.price"
                                v-model="search.storeCategoryId">
                            <option v-for="obj in margeCategories" :key="obj" :value="obj.id">
                                {{ obj.name }}
                            </option>
                        </select>
                    </li>
                    <li class="nav-item me-2">
                        <select class="form-select mb-3" aria-label="金額篩選" name="search.price"
                                v-model="search.price">
                            <option v-for="obj in priceMap" :key="obj" :value="Object.values(obj)[0]">
                                {{ Object.keys(obj)[0] }}
                            </option>
                        </select>
                    </li>
                    <li class="nav-item me-2">
                        <input type="text" id="search" class="form-control" placeholder="關鍵字"
                               v-model="search.name" list="suggestions" @input="onSearchInput">
                        <datalist id="suggestions">
                            <option v-for="suggestion in searchData.suggestionOptions" :value="suggestion"
                                    :key="suggestion"></option>
                        </datalist>
                    </li>
                    <li class="nav-item me-2">
                        <button type="button" class="form-control" @click="callGetStores()">搜尋</button>
                    </li>
                </ul>
            </div>
            <div class="row g-4">
                <template v-for="(store) in storesInfo" :key="store">
                    <div class="col-lg-4 col-md-6 animate__animated animate__fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid" style="height: 400px;object-fit:cover; "
                             :src="store.mainUrl?store.mainUrl:noImage" alt="">
                        <div class="bg-light p-4">
                            <router-link :to="{ name:'storeMenu', params: { storeId: store.id }}"
                                         class="d-block h5 lh-base mb-4">
                                {{ store.name }}
                            </router-link>
                            <span class="text-primary ">價位</span> <small class="me-3">
                            {{ store.price === null ? '未標示' : '$'.repeat(store.price) }}</small>
                            <div class="text-muted d-flex  border-top pt-4">
                                <small class="w-50 text-center border-end py-2">
                                    <router-link :to="{ name:'addOrder', params: { storeId: store.id }}">
                                        <i class="fas fa-fw fa-file-medical text-primary me-2"></i>
                                        發起訂單
                                    </router-link>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <router-link :to="{ name:'storeMenu', params: { storeId: store.id }}">
                                        <i class="fa fa-fw fa-eye text-primary me-2"></i>
                                        瀏覽菜單
                                    </router-link>
                                </small>

                            </div>
                            <div v-if="isEditor&&isMode" class="text-muted d-flex  border-top pt-4">
                                <a class="w-100 text-center py-2" href="#" @click="showModal($event,store.id)">
                                    <i class="fas fa-fw fa-edit me-2"></i>
                                    編輯店家
                                </a>
                            </div>
                        </div>
                    </div>
                </template>
                <PageControl v-model="pagination" @pagination-data-updated="handlePaginationDataUpdated"/>
            </div>
        </div>
    </div>
    <div v-if="isEditor&&isMode">
        <EditStore ref="modal" :storeId="modalStoreId"/>
        <EditStoreCategories ref="categoriesModal" @update-categories="handleRefreshCategories"/>
    </div>
</template>

<script>
import {getStoreCategoriesByUser, getStores, getStoreSuggestionList} from "@/api/StoreAPI";
import PageControl from "@/components/PageControl.vue";
import {mapGetters} from "vuex";
import EditStore from "@/views/Store/EditStore.vue";
import EditStoreCategories from "@/views/Store/EditStoreCategories.vue";

export default {
    name: "StoreView",
    components: {PageControl, EditStore, EditStoreCategories},
    data() {
        return {
            noImage: require('@/assets/img/store/storebg.jpg'),
            storesInfo: [],
            pagination: {
                currentPage: Math.max(this.$route.query.pageNum, 1),
                totalPages: 1,
            },
            modalStoreId: null,
            search: {
                name:'',
                price:'',
                storeCategoryId:'',
            },
            searchData: {
                suggestionOptions: [],
                storeCategoryMaps: [{id:'', name:'不限類別'}],
                categoriesFromServer:[],
                delayTimer: null
            },
        }
    },
    computed: {
        ...mapGetters(['isEditor', 'isMode']),
        currentPage() {
            return Math.max(this.pagination.currentPage, 1)
        },
        totalPages() {
            return Math.max(this.pagination.totalPages, 1)
        },
        priceMap() {
            return [
                {'不限價格': ''},
                ...Array.from({ length: 5 }, (_, i) => ({[`$`.repeat(i + 1)]: i + 1})),
            ];
        },
        margeCategories() {
            return this.searchData.storeCategoryMaps.concat(this.searchData.categoriesFromServer)
        },
    },
    mounted() {
        this.callGetStores()
        this.getStoreCategories()
    },
    methods: {
        callGetStores() {
            getStores(this.currentPage, this.search).then((response) => {
                if (response.status === 200 && response.data) {
                    const data = response.data
                    this.storesInfo = data.stores
                    this.pagination.totalPages = Math.max(data.totalPages, 1)
                    this.pagination.page = Math.max(data.page, 1)
                }
            })
                .finally(() => {
                    document.getElementById("storeAnchor").scrollIntoView()
                })
        },
        handlePaginationDataUpdated(newPagination) {
            this.pagination = {
                currentPage: newPagination.currentPage,
                totalPages: newPagination.totalPages
            }
            this.$router.push({name: 'storeList', query: {pageNum: newPagination.currentPage}})
        },
        showModal(event, storeId) {
            event.preventDefault()
            this.modalStoreId = storeId
            this.$refs.modal.bsModal.show()
        },
        showCategoriesModal(event) {
            event.preventDefault()
            this.$refs.categoriesModal.bsModal.show()
            this.$refs.categoriesModal.getStoreCategories()
        },
        onSearchInput() {
            clearTimeout(this.searchData.delayTimer);
            this.searchData.delayTimer = setTimeout(() => {
                this.getStoreSuggestionList();
            }, 100);
        },
        getStoreSuggestionList() {
            getStoreSuggestionList(this.search.name).then(response => {
                if(response.status === 200) {
                    this.searchData.suggestionOptions = response.data.suggestionList
                }
            })
        },
        getStoreCategories() {
            getStoreCategoriesByUser().then((response) => {
                this.searchData.categoriesFromServer = response.data
            })
        },
        handleRefreshCategories() {
            this.getStoreCategories()
        }

    },
    watch: {
        currentPage: function () {
            this.callGetStores()
        }
    }
}
</script>

<style scoped>
.nav-store-btn {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}
</style>
