<template>
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 animate__animated animate__fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="@/assets/img/about.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 animate__animated animate__fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">關於我們</h1>
                    <p class="mb-4"></p>
                    <p><i class="fa fa-check text-primary me-3"></i>數以百計的店家</p>
                    <p><i class="fa fa-check text-primary me-3"></i>線上開團訂便當</p>
                    <p><i class="fa fa-check text-primary me-3"></i>折扣優惠的訊息不落人後</p>
<!--                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
</template>
<script>
export default {
    name: "AboutView"
}
</script>

<style scoped>

</style>
