<template>
  <!-- Carousel Start -->
  <br/>
  <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <template v-for="(aCarousel, index) in carouselData" :key="aCarousel.name">
          <div :class="index===0?'carousel-item active':'carousel-item'">
            <div class="w-100"
                 :style="'height: 500px;background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), url(' + aCarousel.imgPath + ');'">
            </div>
            <div class="carousel-caption">
              <div class="container">
                <div class="row justify-content-start">
                  <div class="col-lg-auto">
                    <h1 class="rounded-pill bg-opacity-75 p-3 text-bg-dark mx-auto display-2 mb-5 animate__animated animate__slideInDown">
                      {{ aCarousel.name }}</h1>
                    <router-link :to="{ name:'storeMenu', params:{ storeId: aCarousel.storeId}}"
                                 class="btn btn-primary rounded-pill py-sm-3 px-sm-5">
                      菜單
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Carousel End -->
</template>

<script>
export default {
  name: "CarouselView",
  data() {
    return {
      carouselData: [
        {name: "龍德日式便當", imgPath: require('@/assets/img/c龍德.png'), storeId: 52},
        {name: "大哥燒臘", imgPath: require('@/assets/img/c大哥燒臘.jpg'), storeId: 52},
        {name: "小日山青", imgPath: require('@/assets/img/c小日山青.jpg'), storeId: 52},
      ],
    }
  },
}
</script>

<style scoped>

</style>
