<template>
    <!-- Firm Visit Start -->
    <div class="container-fluid bg-primary bg-icon mt-5 py-6">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-5 text-white mb-3">新增店家</h1>
                    <p class="text-white mb-0">還缺什麼美食嗎？立馬推薦！</p>
                </div>
                <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
                    <a class="btn btn-lg btn-secondary rounded-pill py-3 px-5" href="">馬上新增</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Firm Visit End -->
</template>

<script>
export default {
    name: "FirmView"
}
</script>

<style scoped>

</style>
