<template>
    <!-- Testimonial Start -->
    <div class="container-fluid bg-light bg-icon py-6 mb-5">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 animate__animated animate__fadeInUp"
                 style="max-width: 500px;">
                <h1 class="display-5 mb-3">好評如潮</h1>
                <p>看看大家在推薦吧！</p>
            </div>
            <div class="animate__animated animate__fadeInUp">
                <template v-for="(comment) in comments" :key="comment.name">
                    <div class="testimonial-item position-relative bg-white p-5 mt-4">
                        <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                        <h3 class="mb-1">#{{ comment.store }}</h3>
                        <p class="mb-4">{{ comment.commentContent }}</p>
                        <div class="d-flex align-items-center">
                            <img class="flex-shrink-0 rounded-circle" :src="comment.picpath" alt="">
                            <div class="ms-3">
                                <h5 class="mb-1">{{ comment.name }}</h5>
                                <span>{{ comment.title }}</span>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
</template>

<script>
export default {
    name: "TestimonialView",
    data() {
        return {
            comments: [
                {
                    name: "綿羊",
                    title: "吃貨",
                    store: "小日山青",
                    commentContent: "路過無意間發現的小店。點了一碗番茄牛肉麵。老闆一個人顧內外場 煮麵的背影還蠻帥的。湯頭很清淡 但是可以感覺得到番茄 紅蘿蔔的甜。牛肉也是軟嫩 份量也頗多。很讚的一家小店。希望哪天老闆可以做個紅燒口味的。",
                    picpath: require('@/assets/img/testimonial-1.jpg')
                },
                {
                    name: "張學有",
                    title: "小吃貨",
                    store: "大哥燒臘",
                    commentContent: "燒臘!好吃啊!我從沒吃過這麼好吃的燒臘!救命啊! 為什麼要讓我吃到這麼好吃的燒臘飯? 如果我以後吃不到怎麼辦啊？這是電影食神的台詞，但也是我想說的話",
                    picpath: require('@/assets/img/testimonial-2.jpg')
                },
                {
                    name: "John Wick",
                    title: "歪嘴雞",
                    store: "龍德日式便當",
                    commentContent: "菜不油膩而且還有附一罐多多，老闆待人客氣且親切，價格以目前物價一直上漲來說算平價，重點配菜好吃主菜有雙拼可選，可以吃得很滿足",
                    picpath: require('@/assets/img/testimonial-3.jpg')
                },
                {
                    name: "Olivia",
                    title: "好嘴斗",
                    store: "小日山青",
                    commentContent: "這家麵店只有一位廚師，只賣兩種麵。年輕廚師以一絲不苟的態度，嚴選高品質食材，反覆試驗精進，將傳承自母親的味道昇華為人間極品。",
                    picpath: require('@/assets/img/testimonial-4.jpg')
                },
            ],
        }
    },
}
</script>

<style scoped>

</style>
