<template>
  <!-- Spinner Start-->
  <div id="spinner"
       class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
  <router-view/>

  <!-- Back to Top -->
  <a href="#" style="display:none;" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top">
    <i class="bi bi-arrow-up"></i>
  </a>

</template>

<script>
import './font';
import {isServerOn} from "@/api/userAccountAPI";

export default {
  name: 'App',
  beforeMount() {
    isServerOn((status) => {
      this.$store.commit('setServerStatus', status)
    })
  }, mounted() {
    var spinner = function () {
      setTimeout(function () {
        let spinner = document.getElementById('spinner');
        if (spinner) {
          spinner.classList.remove('show');
        }
      }, 1);
    };
    spinner();

    window.addEventListener('scroll', function () {
      // Back to top button
      if (document.documentElement.scrollTop > 300) {
        document.getElementsByClassName('back-to-top')[0].style.display = '';
        document.getElementsByClassName('back-to-top')[0].classList.add('animate__animated');
        document.getElementsByClassName('back-to-top')[0].classList.add('animate__fadeIn');
      } else {
        document.getElementsByClassName('back-to-top')[0].style.display = 'none';
        document.getElementsByClassName('back-to-top')[0].classList.remove('animate__animated');
        document.getElementsByClassName('back-to-top')[0].classList.remove('animate__fadeIn');
      }
    });
  }
}
</script>

