<template>
  <NavBar/>
  <HeaderView/>
  <router-view/>
  <FooterView/>
</template>
<script>
import FooterView from "@/views/FooterView";
import NavBar from "@/views/NavBar";
import HeaderView from "@/views/HeaderView.vue";

export default {
  name: "LayoutIndex",
  components: {NavBar, FooterView, HeaderView},
}
</script>

<style scoped>

</style>
